name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build and Push Docker Image
        id: docker
        env:
          REGISTRY_NAME: pinkynrg
          REPOSITORY_NAME: lazy-cook
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $REGISTRY_NAME/$REPOSITORY_NAME:$IMAGE_TAG -t $REGISTRY_NAME/$REPOSITORY_NAME:latest .
          echo "Pushing image to Registry..."
          docker login -u pinkynrg -p ${{ secrets.DOCKER_HUB_LOGIN_TOKEN }}
          docker push $REGISTRY_NAME/$REPOSITORY_NAME:$IMAGE_TAG
          docker push $REGISTRY_NAME/$REPOSITORY_NAME:latest
          echo "image=$REGISTRY_NAME/$REPOSITORY_NAME:$IMAGE_TAG" >> $GITHUB_OUTPUT
    
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Pull and Redeploy via Portainer
        run: |
            curl  --location --request PUT 'https://portainer.francescomeli.com/api/stacks/${{ secrets.PORTAINER_STACK_ID }}/git/redeploy?endpointId=${{ secrets.PORTAINER_ENDPOINT_ID }}' \
                  --header 'X-API-Key: ${{ secrets.PORTAINER_TOKEN }}' \
                  --header 'Content-Type: application/json' \
                  --data '{
                    "pullImage": true
                  }'
